body {
}

.wrap
{
	width: 800px;
	margin: auto;
	margin-top: 45px;
}

#inpootisbox
{
	
	width: 300px;
	padding: 20px;
}

#outpootisbox
{
	#margin: auto;
	float: right;
	width: auto;
}

.uibox
{
	float: left;
	margin-left: 20px;
}

#title img
{
	display: block;
	margin: auto;
}

.sliderwrap
{
	max-height: 300px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	overflow: auto;
}

.slider
{
	margin-top: 10px;
}

.addslider
{
	margin-top: 10px;
}